<div class="container main">
  <div class="row flex-center">
    <h1>數字的生成器</h1>
  </div>

  <div class="row flex-center">
    1 ~
    <label>&nbsp;&nbsp;
      <input style="text-align: center" type="number" matInput [(ngModel)]="max" (ngModelChange)="gen()">
    </label>
  </div>

  <div class="row flex-center">
    <button style="margin: 0 3px" mat-stroked-button *ngFor="let i of [28, 29, 30, 31]" (click)="max=i; gen()">
      {{ i }}天
    </button>
  </div>

  <div class="row flex-center">
    <h2>{{ output }}</h2>
  </div>

  <div class="row flex-center">
    <button mat-stroked-button [cdkCopyToClipboard]="output">複製到剪貼簿</button>
  </div>
</div>
